<header>
  <div class="container">
    <nav class="header__nav" role="navigation">
      <h1>
        <a href="/"> DINOSAUR INVENTORY </a>
      </h1>
      <ul class="nav__list">
        <button id="themeToggle">Light</button>
        <li class="nav__item">
          <a href="/dinosaurs" class="nav__link" title="View dinosaur inventory"
            >Dinosaurs</a
          >
        </li>
        <li class="nav__item">
          <a
            href="/categories"
            class="nav__link"
            title="View categories for dinosaurs"
            >Categories</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
