<!doctype html>
<html lang="en">
  <%- include("partials/head.ejs", {title: locals.title}) %>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
      <main class="homepage">
        <section class="homepage__section">
          <img class="homepage__image hero-image-1" src="" alt="">
          <h2 class="homepage__heading">
            <a class="homepage__link" href="/" title="Navigate to dinosaurs inventory">Dinosaurs</a>
          </h2>
          <p class="homepage__body">Check out all of the different dinosaurs on this page. Read and learn more about them and prepare to be amazed by these wonderful creatures.</p>
        </section>
        <section class="homepage__section">
          <img class="homepage__image hero-image-2" src="" alt="">
          <h2 class="homepage__heading">
            <a class="homepage__link" href="/categories" title="Navigate to dinosaurs inventory">Dinosaurs</a>
          </h2>
          <p class="homepage__body">Check out all of the different dinosaurs on this page. Read and learn more about them and prepare to be amazed by these wonderful creatures.</p>
        </section>
      </main>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
