<!doctype html>
<html lang="en">
  <%- include("partials/head.ejs", {title: locals.title}) %>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
      <main class="homepage">
        <section class="homepage__section">
          <a class="homepage__link" href="/dinosaurs" title="Navigate to dinosaurs inventory">
            <img class="homepage__image hero-image-1" src="" alt="">
          </a>
          <h2 class="homepage__heading">
            <a class="homepage__link" href="/dinosaurs" title="Navigate to dinosaurs inventory">Dinosaurs</a>
          </h2>
          <p class="homepage__body">Check out all of the different dinosaurs on this page. Read and learn more about them and prepare to be amazed by these wonderful creatures.</p>
        </section>
        <section class="homepage__section">
          <a class="homepage__link" href="/categories" title="Navigate to dinosaurs inventory">
            <img class="homepage__image hero-image-2" src="" alt="">
          </a>
          <h2 class="homepage__heading">
            <a class="homepage__link" href="/categories" title="Navigate to dinosaurs inventory">Categories</a>
          </h2>
          <p class="homepage__body">Scan through all the categories of dinosaurs to filter out the ones you are interested in. Learn about their differences and similarities!</p>
        </section>
      </main>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
