@import url(reset.css);
@import url(utils.css);

/** GENERAL */
html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  color: var(--clr-text);
  background-color: var(--clr-bg-fallback);
  background: var(--clr-bg);
  font-family: var(--font-family-primary);
  transition:
    background 0.3s ease,
    color 0.3s ease;
}
img {
  box-shadow: 3px 3px 5px var(--clr-shadow);
}
.button {
  box-shadow: 1px 1px 5px var(--clr-shadow);
  display: flex;
  padding: var(--spacing-xs) var(--spacing-m);
  background-color: var(--clr-button);
  border-radius: var(--border-radius-2xl);
  text-decoration: none;
  text-align: center;
  font-weight: var(--font-weight-semi-bold);
  margin-top: 15px;
  height: 40px;
  font-size: var(--font-size-24px);
  color: var(--clr-button-text);
  border-style: none;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}
.button:hover {
  background-color: var(--clr-button-hover);
}
.edit-button {
  background-color: transparent;
  border: 2px solid var(--clr-button);
  margin-bottom: 20px;
}

#sunIcon {
  display: block;
}
#moonIcon {
  display: none;
}
.light-mode #sunIcon {
  display: none;
}
.light-mode #moonIcon {
  display: block;
}

/** HEADER */
header {
  width: 100%;
  height: 100%;
  background-color: var(--clr-secondary);
}
.header__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: var(--font-size-32px);
  margin: 0 auto -13px auto;
}
.nav__list {
  margin: 0 auto;
  display: flex;
  gap: var(--spacing-m);
}
.nav__item {
  list-style: none;
}
.nav__link {
  font-size: var(--font-size-24px);
}
.nav__link:hover {
  text-decoration: underline;
}
.theme-icon {
  height: auto;
  width: 20px;
  box-shadow: none;
  fill: var(--clr-text);
}
#themeToggle {
  background-color: transparent;
  border-style: none;
  font-size: var(--font-size-24px);
  color: var(--clr-text);
  cursor: pointer;
}

/** HOMEPAGE */
.homepage {
  display: flex;
  flex-direction: column;
}
.homepage__section1 {
  margin: 30px 0 15px 0;
}
.homepage__section2 {
  margin: 15px 0 30px 0;
}
.homepage__image {
  border-radius: var(--border-radius-m);
  height: auto;
  width: 100%;
  background-color: var(--clr-tertiary);
}
.homepage__heading {
  margin-top: -10px;
  margin-bottom: -10px;
}
.homepage__body {
  font-size: var(--font-size-18px);
  line-height: 20px;
}
.homepage__link {
  font-size: var(--font-size-40px);
}

/** DINOSAURS */
.dino-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dino-page__section {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dino-page__image {
  margin: 0 auto;
  height: auto;
  border-radius: var(--border-radius-m);
  margin-bottom: -10px;
}
.dino-page__heading {
  font-size: var(--font-size-40px);
}
.dino-page__error-heading {
  font-size: var(--font-size-40px);
}

/** CATEGORIES */
.categories-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories-page__section {
  margin-top: 15px;
  text-align: center;
}
.categories-page__section:last-child {
  margin-bottom: 15px;
}
.categories-page__image {
  margin: 0 auto;
  height: auto;
  border-radius: var(--border-radius-m);
  margin-bottom: -10px;
}
.categories-page__heading {
  font-size: var(--font-size-40px);
  margin-bottom: -12px;
}
.categories-page__body {
  font-size: var(--font-size-18px);
  line-height: var(--spacing-ml);
}
.categories-page__error-heading {
  font-size: var(--font-size-40px);
}

/** DINOSAUR DETAILS  */
.dino-details-page {
  display: flex;
  flex-direction: column;
}
.dino-details-page__section {
  margin-top: 15px;
}
.dino-details-page__image {
  margin: 0 auto;
  height: auto;
  width: 100%;
  border-radius: var(--border-radius-m);
  margin-bottom: -10px;
}
.dino-details-page__heading {
  font-size: var(--font-size-40px);
  margin-bottom: -12px;
}
.dino-details-page__body {
  font-size: var(--font-size-24px);
  line-height: var(--spacing-ml);
}
.dino-details-page__data-section {
  border-radius: var(--spacing-m);
  margin: 30px 0;
  padding: 5px 15px;
  background-color: var(--clr-secondary);
}
.data-section__header {
  font-size: var(--font-size-40px);
}
.data-section__list {
  position: relative;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
.data-section__item {
  list-style: none;
  font-size: var(--font-size-24px);
}
.data-section__item strong {
  text-decoration: underline;
  margin-right: 15px;
}
.data-section__item span {
  position: absolute;
  left: 80px;
}

/** CATEGORY DETAILS  */
.category-details {
  margin: 30px 0;
}
.category-details-page {
  display: flex;
  flex-direction: column;
}
.category-details-page__section {
  margin-top: 15px;
}
.category-details-page__image {
  margin: 0 auto;
  height: auto;
  width: 100%;
  border-radius: var(--border-radius-m);
  margin-bottom: -10px;
}
.category-details-page__heading {
  font-size: var(--font-size-40px);
  margin-bottom: -10px;
}
.category-details-page__body {
  font-size: var(--font-size-24px);
  line-height: var(--spacing-ml);
}
.category-details-page__sub-section {
  min-width: 300px;
  border-radius: var(--spacing-m);
  margin-top: 30px;
  padding: 10px 15px;
  background-color: var(--clr-secondary);
}
.sub-section__header {
  font-size: var(--font-size-32px);
  text-decoration: underline;
  margin-bottom: -10px;
}
.sub-section__body {
  font-size: var(--font-size-18px);
  line-height: 16px;
  margin: 5px 0;
}

/** NEW DINO PAGE  */
.new-dino-page {
  display: flex;
  flex-direction: column;
}
.new-dino-page__section {
  margin: 30px 0 10px 0;
}
.new-dino-page__image {
  margin: 0 auto;
  height: auto;
  width: 100%;
  border-radius: var(--border-radius-m);
  margin-bottom: -10px;
}
.new-dino-page__heading {
  font-size: var(--font-size-40px);
  margin: 5px 0 -10px 0;
}
.new-dino-page__body {
  font-size: var(--font-size-24px);
  line-height: var(--spacing-ml);
}
.new-dino-page__form-section {
  background-color: var(--clr-secondary);
  border-radius: var(--spacing-m);
  margin: 30px 0;
  padding: 15px 18px;
}
.new-dino-page__form {
  display: flex;
  flex-direction: column;
}
.new-dino-page__form label {
  font-size: var(--font-size-24px);
  margin: -5px;
}
.new-dino-page__form input,
.new-dino-page__form textarea,
.new-dino-page__form select {
  padding-left: 10px;
  font-size: var(--font-size-24px);
  margin-bottom: 5px;
  border-radius: var(--border-radius-m);
  border-style: none;
  background-color: var(--clr-bg-fallback);
  background: var(--clr-bg);
  color: var(--clr-input-text);
}
option {
  background: var(--clr-bg-fallback);
}

.new-dino-page__form select {
  padding: 3px;
}
.new-dino-page__form input[type="file"] {
  font-size: var(--font-size-18px);
  padding: 10px 5px;
}

/** NEW CATEGORY PAGE  */
.new-category-page {
  display: flex;
  flex-direction: column;
}
.new-category-page__section {
  margin-top: 15px;
}
.new-category-page__image {
  margin: 0 auto;
  height: auto;
  width: 100%;
  border-radius: var(--border-radius-m);
  margin-bottom: -10px;
}
.new-category-page__heading {
  font-size: var(--font-size-40px);
  margin-bottom: -10px;
}
.new-category-page__body {
  font-size: var(--font-size-24px);
  line-height: var(--spacing-ml);
}
.new-category-page__form-section {
  background-color: var(--clr-secondary);
  border-radius: var(--spacing-m);
  margin: 30px 0;
  padding: 15px 18px;
}
.new-category-page__form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.new-category-page__form label {
  font-size: var(--font-size-24px);
  margin: -5px;
}
.new-category-page__form input,
.new-category-page__form textarea,
.new-category-page__form select {
  text-indent: 8px;
  font-size: var(--font-size-24px);
  margin-bottom: 5px;
  border-radius: var(--border-radius-m);
  border-style: none;
  background-color: var(--clr-bg-fallback);
  background: var(--clr-bg);
  color: var(--clr-tertiary);
}
.new-category-page__form select {
  padding: 3px;
}

.password-form {
  padding: 0px 5px 20px 0;
}
.password-label {
  font-size: var(--font-size-24px);
}
.password-input {
  font-size: var(--font-size-40px);
  text-indent: 10px;
  max-width: 110px;
  max-height: 30px;
  background-color: var(--clr-bg-fallback);
  background: var(--clr-bg);
  border-style: none;
  border-radius: var(--border-radius-2xl);
}
.confirm-password-button {
  margin: 0;
}
.wrong-password-message {
  font-size: var(--font-size-24px);
  font-weight: var(--font-weight-bold);
}

/** 404-PAGE  */
.page-404 {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-404__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.page-404__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-404__image {
  height: auto;
  width: 100%;
  border-radius: 100%;
  border: 5px solid var(--clr-button);
}
.page-404__heading {
  font-size: var(--font-size-72px);
  font-weight: var(--font-weight-bold);
  margin-bottom: -35px;
}
.page-404__sub-heading {
  font-size: var(--font-size-40px);
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: -10px;
}
.page-404__body {
  font-size: var(--font-size-24px);
}

/** FOOTER */
footer {
  font-size: var(--font-size-18px);
  width: 100%;
  min-height: 45px;
  background-color: var(--clr-secondary);
  display: flex;
  justify-self: end;
}
.copyright {
  margin: auto;
}

@media (min-width: 362px) {
  h1 {
    font-size: var(--font-size-40px);
  }
  .page-404__image {
    max-width: 400px;
  }
}
@media (min-width: 450px) {
  .container {
    max-width: 550px;
  }
  h1 {
    font-size: var(--font-size-48px);
    margin: -5px 0 -25px 0;
    text-align: center;
  }
  .theme-icon {
    width: 25px;
  }
  .nav__link {
    font-size: var(--font-size-32px);
  }
  .homepage__link {
    font-size: var(--font-size-48px);
  }
  .homepage__body {
    font-size: var(--font-size-24px);
    line-height: 25px;
  }
  .dino-page__image {
    max-width: 75%;
  }
  .categories-page__image {
    max-width: 75%;
  }
  .sub-section__body {
    font-size: var(--font-size-24px);
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 850px;
  }
  .header__nav {
    flex-direction: row;
  }
  h1 {
    font-size: var(--font-size-48px);
    margin: 0px;
    align-self: center;
  }
  .nav__list {
    align-items: center;
    gap: var(--spacing-m);
  }
  .nav__link {
    font-size: var(--font-size-32px);
  }
  .homepage__heading {
    margin-bottom: -12px;
  }
  .homepage__body {
    font-size: var(--font-size-32px);
    line-height: 30px;
  }
  .dino-page {
    display: block;
  }
  .dino-page__image {
    min-width: 100%;
  }
  .dino-page__dino-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-l);
    padding: 10px 0 20px 0;
  }
  .dino-page__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .categories-page {
    display: block;
  }
  .categories-page__image {
    min-width: 100%;
  }
  .categories-page__category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-l);
    padding: 10px 0 20px 0;
  }
  .categories-page__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .new-dino-page {
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }
  .new-category-page {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 30px;
  }
  .new-category-page__form-section {
    margin-bottom: 0;
  }
  .new-category-page__form textarea {
    height: 100%;
  }
  .category-details__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 30px;
  }
  .category-details-page__sub-section {
    margin-bottom: 0;
    overflow-y: auto;
    flex: 1;
  }
  .category-details-page__section {
    margin-top: 30px;
  }
  .dino-details-page {
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }
  .dino-details-page__section {
    margin: 30px 0 30px 0;
    max-width: 450px;
  }
  .dino-details-page__image {
    margin: 0;
  }
  .dino-details-page__data-section {
    min-width: 250px;
    max-width: 350px;
    flex: 1;
    overflow-x: auto;
    text-wrap-mode: nowrap;
  }
  .page-404__wrapper {
    padding-top: 80px;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    gap: var(--spacing-l);
  }
  .page-404__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    font-size: var(--font-size-24px);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
  .theme-icon {
    width: 30px;
  }
  .header__nav {
    justify-content: space-between;
  }
  .nav__list {
    margin: 0;
    gap: var(--spacing-xl);
  }
  .homepage__image {
    max-width: 800px;
  }
  .homepage__link {
    max-width: 800px;
  }
  .homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .homepage__section:first-child {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    padding: 35px 25px 30px 0;
    margin: 0;
  }
  .homepage__section:last-child {
    grid-row: 2 / 5;
    grid-column: 2 / 3;
    padding: 30px 0px 35px 25px;
    margin: 0;
  }
  .dino-details-page__section {
    max-width: 700px;
  }
  .new-dino-page__image {
    max-width: 80%;
    margin: 0 0 -5px 0;
  }
  .new-category-page__image {
    max-width: 100%;
    margin: 0 0 -5px 0;
  }
  .new-category-page__section {
    max-width: 65%;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .new-category-page__heading,
  .new-category-page__body {
    align-self: start;
  }
  .category-details-page__section {
    max-width: 750px;
  }
}
