@import url(reset.css);
@import url(utils.css);

/** GENERAL */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  color: var(--clr-text-dark);
  background-color: var(--clr-bg-dark);
  font-family: var(--font-family-primary);
}
main {
  flex: 1;
}
.button {
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-m);
  background-color: var(--clr-button-dark);
  border-radius: var(--border-radius-m);
  text-decoration: none;
  text-align: center;
  font-weight: var(--font-weight-semi-bold);
  margin-top: 15px;
  font-size: var(--font-size-24px);
  color: black;
}
.button:hover {
  background-color: var(--clr-button-dark-hover);
}

/** HEADER */
header {
  width: 100%;
  height: 90px;
  background-color: var(--clr-secondary-dark);
}
.header__nav {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: var(--font-size-40px);
  margin: 0 auto -13px auto;
}
.nav__list {
  margin: 0 auto;
  display: flex;
  gap: var(--spacing-xxl);
}
.nav__item {
  list-style: none;
}
.nav__link {
  font-size: var(--font-size-24px);
}
.nav__link:hover {
  text-decoration: underline;
}

/** HOMEPAGE */
.homepage {
  display: flex;
  flex-direction: column;
}
.homepage__section {
  margin-top: 15px;
}
.homepage__image {
  border-radius: var(--border-radius-m);
  width: auto;
  height: 120px;
  background-color: var(--clr-tertiary-dark);
}
.homepage__heading {
  margin-bottom: -10px;
}
.homepage__link {
  font-size: var(--font-size-40px);
}

/** DINOSAURS */
.dino-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dino-page__section {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dino-page__image {
  margin: 0 auto;
  height: auto;
  border-radius: var(--border-radius-m);
  margin-bottom: -10px;
}
.dino-page__heading {
  font-size: var(--font-size-40px);
}
.dino-page__error-heading {
  font-size: var(--font-size-40px);
}

/** CATEGORIES */
.categories-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories-page__section {
  margin-top: 15px;
}
.categories-page__section:last-child {
  margin-bottom: 15px;
}
.categories-page__image {
  margin: 0 auto;
  height: auto;
  border-radius: var(--border-radius-m);
  margin-bottom: -10px;
}
.categories-page__heading {
  font-size: var(--font-size-40px);
  margin-bottom: -12px;
}
.categories-page__body {
  font-size: var(--font-size-18px);
  line-height: var(--spacing-ml);
}
.categories-page__error-heading {
  font-size: var(--font-size-40px);
}

/** DINOSAUR DETAILS  */
.dino-details-page {
  display: flex;
  flex-direction: column;
}
.dino-details-page__section {
  margin-top: 15px;
}
.dino-details-page__image {
  margin: 0 auto;
  height: auto;
  width: 100%;
  border-radius: var(--border-radius-m);
  margin-bottom: -10px;
}
.dino-details-page__heading {
  font-size: var(--font-size-40px);
  margin-bottom: -12px;
}
.dino-details-page__body {
  font-size: var(--font-size-24px);
  line-height: var(--spacing-ml);
}
.dino-details-page__data-section {
  border-radius: var(--spacing-m);
  margin: 30px 0;
  padding: 5px 15px;
  background-color: var(--clr-secondary-dark);
}
.data-section__header {
  font-size: var(--font-size-40px);
}
.data-section__list {
  position: relative;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
.data-section__item {
  list-style: none;
  font-size: var(--font-size-24px);
}
.data-section__item strong {
  text-decoration: underline;
  margin-right: 15px;
}
.data-section__item span {
  position: absolute;
  left: 80px;
}

/** CATEGORY DETAILS  */
.category-details-page {
  display: flex;
  flex-direction: column;
}
.category-details-page__section {
  margin-top: 15px;
}
.category-details-page__image {
  margin: 0 auto;
  height: auto;
  width: 100%;
  border-radius: var(--border-radius-m);
  margin-bottom: -10px;
}
.category-details-page__heading {
  font-size: var(--font-size-40px);
  margin-bottom: -10px;
}
.category-details-page__body {
  font-size: var(--font-size-24px);
  line-height: var(--spacing-ml);
}
.category-details-page__sub-section {
  border-radius: var(--spacing-m);
  margin: 30px 0;
  padding: 10px 15px;
  background-color: var(--clr-secondary-dark);
}
.sub-section__header {
  font-size: var(--font-size-32px);
  text-decoration: underline;
  margin-bottom: -10px;
}
.sub-section__body {
  font-size: var(--font-size-18px);
}

/** FOOTER */
footer {
  font-size: var(--font-size-18px);
  width: 100%;
  min-height: 45px;
  background-color: var(--clr-secondary-dark);
  display: flex;
}
.copyright {
  margin: auto;
}
