@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");
:root {
  /* Colors: Dark mode */
  --clr-bg: linear-gradient(135deg, #1e2527, #2c3639, #1e2527);
  --clr-bg-fallback: #2c3639;
  --clr-primary: #3f4e4f;
  --clr-secondary: #3f4e4f;
  --clr-tertiary: #a27b5c;
  --clr-button: #a27b5c;
  --clr-button-hover: #b28d6f;
  --clr-text: #dcd7c9;
  --clr-label-text: hsl(27, 30%, 67%);
  --clr-button-text: rgb(10, 10, 10);
  --clr-shadow: #1e2527;

  /* Typography */
  --font-family-primary: "Markazi Text", sans-serif;
  --font-family-secondary: "Georgia", serif;
  --font-size-14px: 0.875rem;
  --font-size-18px: 1.125rem;
  --font-size-24px: 1.5rem;
  --font-size-32px: 2rem;
  --font-size-40px: 2.5rem;
  --font-size-48px: 3rem;
  --font-size-72px: 4.5rem;
  --font-size-96px: 6rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --line-height-base: 1.5;
  --line-height-heading: 1.2;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-ml: 20px;
  --spacing-l: 32px;
  --spacing-xl: 64px;
  --spacing-xxl: 128px;

  /* Layout */
  --container-width: 1200px;
  --grid-gap: 16px;
  --header-height: 60px;
  --footer-height: 100px;

  /* Border Radius */
  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 16px;
  --border-radius-xl: 24px;
  --border-radius-2xl: 50px;
  --border-width: 1px;

  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;
}

.light-mode {
  --clr-bg: linear-gradient(135deg, #7f785f, #a59d84, #7f785f);
  --clr-bg-fallback: #a59d84;
  --clr-primary: #c1baa1;
  --clr-secondary: #c1baa1;
  --clr-tertiary: #d7d3bf;
  --clr-button: #d9b27f;
  --clr-button-hover: hsl(34, 54%, 72%);
  --clr-text: rgb(30, 30, 30);
  --clr-input-text: rgb(10, 10, 10);
  --clr-button-text: rgb(10, 10, 10);
  --clr-shadow: hsl(45, 15%, 38%);
}

a {
  text-decoration: none;
  color: var(--clr-text);
}
a:hover {
  cursor: pointer;
}

/* Generic Container */
.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex: 1;
}

.flex-row-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
}
